{% extends "layouts/master.html" %}

{% block body %}
    <div>
        <form  class="form" id="loginForm" method="post" action="">
            <fieldset>
                <h2>Log</h2>

                <table>
                    <tr>
                        <td><label for="username">Log: </label></td>
                        <td><input id="username" name="username" value="lcm" type="text"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Pass: </label></td>
                        <td><input id="password" name="password" value="lcm" type="password"/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Lo"/>
                            <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                            
                        </td>
                        <td></td>
                    </tr>
                </table>

            </fieldset>
        </form>
    </div>

    {% endblock %}